.extra-small-space {
    height: 12px
}

.module-spacer--extra-small {
    height: 12px
}

.small-space {
    height: 20px
}

.medium-space {
    height: 32px
}

.main {
    padding: 96px 0
}

.section-wrapper {
    margin: 0 auto;
    max-width: 575px;
    position: relative;
    padding: 0 1rem;
    text-align: center;
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 400px;
    padding: 1rem;
    height: auto;
    width: calc(100% - 2rem);
}

.c-section__loading {
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-flow: column;
    justify-content: center;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 9999;
}

.c-section__loading > p {
    color: #444;
    font-weight: 600;
    margin-top: 1rem;
    text-align: center;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.grid_column {
    align-items: center;
    display: flex;
    flex-flow: column;
}

.grid-row {
    display: flex;
    flex-flow: row wrap;
}

.images-list {
    display: flex;
    flex-flow: wrap;
}

.thumbnail-image {
    position: relative;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
}

.thumbnail-image::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.thumbnail-image > img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.l-footer {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0 1rem;
}

.l-footer > a {
    color: #444;
    font-size: .9rem;
    margin-right: 1rem;
}

.u-text-small {
    font-size: .9rem;
}

.u-text__link-none {
    text-decoration: none;
}

.u-text-left {
    text-align: left;
}

.right-text {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-headline {
    color: rgba(0, 0, 0, 0.54);
    font-size: 40px;
    font-weight: 900;
    margin: 16px auto 16px auto;
}

.none-display {
    display: none;
}

.add-product-image-text {
    color: rgba(0, 0, 0, 0.54);
}

.header-title {
    cursor: pointer;
}

.header-title > span {
    font-size: 36px;
    font-weight: 900;
}

@media screen and (min-width: 576px) {
    .extra-small-space {
        height: 20px
    }

    .module-spacer--small {
        height: 32px
    }

    .section-wrapper {
        max-width: 1024px;
    }
}

@media screen and (min-width: 1024px) {
    .medium-space {
        height: 48px
    }
}